# import libraries

In [28]:
import pandas as pd
import numpy as np

# Q1. Pandas version
What's the version of Pandas that you installed?

In [29]:
pd.__version__

'2.3.1'

# Getting the data - Car Fuel Efficiency dataset
created a folder under 01-intro folder and used wget to get the data
```
mkdir data 
cd !$
wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
```

In [30]:
car_df = pd.read_csv("data/car_fuel_efficiency.csv")

# Q2. Records count
How many records are in the dataset?

In [31]:
car_df.shape[0] #[0] gives the number of rows, as shape returns a 2 vals - rows,cols

9704

In [32]:
car_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

# Q3. Fuel types
How many fuel types are presented in the dataset?

In [33]:
car_df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [34]:
car_df.fuel_type.nunique()

2

In [35]:
car_df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q4. Missing values
How many columns in the dataset have missing values?

In [36]:
#count number of non-zeros - as is.null().sum() will return number of missing values per column
(car_df.isnull().sum()!=0).sum()

np.int64(4)

In [37]:
car_df.fuel_efficiency_mpg.describe()

count    9704.000000
mean       14.985243
std         2.556468
min         6.200971
25%        13.267459
50%        15.006037
75%        16.707965
max        25.967222
Name: fuel_efficiency_mpg, dtype: float64

# Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [38]:
car_df[car_df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

# Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.
2.  Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.
Has it changed?

- Yes, it increased
- Yes, it decreased
- No

In [39]:
horsepower_median_before_na=car_df.horsepower.median()
horsepower_median_before_na

np.float64(149.0)

In [40]:
#most freq value for horsepower
horsepower_most_freq=car_df.horsepower.mode()[0]
horsepower_most_freq

np.float64(152.0)

In [41]:
horsepower_vals = car_df.horsepower
len(horsepower_vals)

9704

In [42]:
horsepower_vals.isna().sum()

np.int64(708)

In [43]:
horsepower_vals = horsepower_vals.fillna(horsepower_most_freq)

In [44]:
horsepower_vals.median()

np.float64(152.0)

In [45]:
horsepower_vals.median() > horsepower_median_before_na

np.True_

# Q6 Has the median value of horsepower changed after filling missing values with most frequent?
- Yes, it increased

# Q7. Sum of weights
1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the sum of all the elements of the result?

In [46]:
X=car_df[(car_df.origin == 'Asia')][['vehicle_weight','model_year']][0:7]
X

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [47]:
X=np.array(X)
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [48]:
#Compute matrix-matrix multiplication between the transpose of X and X.
#To get the transpose, use X.T. 
#Let's call the result XTX.
XTX = X.T.dot(X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [49]:
XTX.shape

(2, 2)

In [50]:
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
len(y)

7

In [51]:
w=(np.linalg.inv(XTX).dot(X.T)).dot(y)
w

array([0.01386421, 0.5049067 ])

# Q7. Sum of Weights
9. What's the sum of all the elements of the result?

In [52]:
sum(w)

np.float64(0.5187709081074016)